	
<footer class="bg-light text-center pt-3" style="position: fixed; bottom: 0; width: 100%;">
	
		<div class="footer-copyright text-center py-2">
		<p class='text-decoration-none' href="/">
			© 2023 Copyright : <span class='text-primary'>Zaidoun Moez</span>
		</p>
	</div>
</footer>

